# General
*.swp

# Ignore visual studio files
**/.vs/
*.pyproj
*.sln

# Django
django-app/venv
django-app/aOHS/.idea/
django-app/aOHS/aOHS/__pycache__/
django-app/aOHS/backend/__pycache__/
django-app/aOHS/backend/migrations/
django-app/aOHS/dashboard/views/__pycache__/

django-app/aOHS/dashboard/__pycache__/
lib/.idea/
task/.idea/
task/.idea/sonarlint/
task/.idea/sonarlint/issuestore/index.pb

# Python
__pycache__/

