{% extends 'dashboard/dashboard.html' %}

{% block table %}
    <form action="" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="camera_name" class="form-label">İsim</label>
        <input type="text" class="form-control" id="camera_name" name="camera_name">
      </div>
      <div class="mb-3">
        <label for="camera_url" class="form-label">Adres</label>
        <input type="url" class="form-control" id="camera_url" name="camera_url">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
