{% extends 'baseStatistic.html' %}

{% block dashboard %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold  border-bottom"><i
                    class="fas fa-user-secret me-2"></i>aOHS
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="/dashboard/"
                   class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="/dashboard/workers/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-hard-hat me-2"></i>Workers</a>
                <a href="/dashboard/cameras/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-camera me-2"></i>Cameras</a>
                <a href="/dashboard/violations/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-paperclip me-2"></i>Violations</a>
                <a href="/dashboard/configurations/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-cog me-2"></i>Configurations</a>
                <a href="/dashboard/models/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-brain me-2"></i>Models</a>
                <a href="/dashboard/statistics/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-bar-chart"></i>Statistics</a>
                <a href="/dashboard/streams/"
                   class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fa fa-broadcast-tower fa-flip"></i> Streams</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>{{ user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/dashboard/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ counts.workers }}</h3>
                                <p class="fs-5">Workers</p>
                            </div>
                            <i class="fas fa-hard-hat fs-2 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ counts.violations }}</h3>
                                <p class="fs-5">Violations</p>
                            </div>
                            <i
                                    class="fas fa-paperclip fs-2 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ counts.cameras }}</h3>
                                <p class="fs-5">Cameras</p>
                            </div>
                            <i class="fas fa-camera  fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">%{{ counts.increase }}</h3>
                                <p class="fs-5">Increase</p>
                            </div>
                            <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>
                <div class="row row-cols">
                    <div class="col">
                        {% block table-5 %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        {% block table %}
                        {% endblock %}
                    </div>
                    <div class="col">
                        {% block table-2 %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        {% block table-3 %}
                        {% endblock %}
                    </div>
                    <div class="col">
                        {% block table-4 %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
{% endblock %}
