{% extends 'dashboard/dashboard.html' %}

{% block table %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cameraId" class="form-label">Camera ID</label>
            <input type="number" class="form-control" id="cameraId" name="cameraId" value="{{ violation.cameraId}}">
        </div>
        <div class="mb-3">
            <label for="workerId" class="form-label">Worker ID</label>
            <input type="number" class="form-control" id="workerId" name="workerId" value="{{ violation.workerId}}">
        </div>
        <div class="mb-3">
            <label for="modelId" class="form-label">Model ID</label>
            <input type="number" class="form-control" id="modelId" name="modelId" value="{{ violation.modelId }}">
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">comment</label>
            <input type="text" class="form-control" id="comment" name="comment" value="{{ violation.comment }}">
        </div>
        <button type=" submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
